@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  color: #ffeb3b;
}

.primary-bg {
  background-color: #ffeb3b;
}

.second-color {
  color: #1a56db;
}

.second-bg {
  background-color: #1a56db;
}

/* Tab Group */

.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
  justify-content: center;
}

.test .absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
  border: 1px solid #1a56db;
}

/* Tạo hiệu ứng cuộn mượt */
html,
body {
  scroll-behavior: smooth; /* Tạo hiệu ứng cuộn mượt */
}

#topic p,
#topic li {
  padding-bottom: 8px;
}

#topic ul {
  padding-left: 24px;
}

#topic li {
  list-style: disc;
}

/* Chọn đáp án trắc nghiệm */
.relative.flex.items-center.cursor-pointer.p-3.rounded-full {
  padding: 8px;
}

.text-gray-700.font-light.select-none.cursor-pointer.mt-px {
  font-weight: 500;
  color: #000;
}

/* Transcript */
#transcript p {
  padding-bottom: 12px;
}
