@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  color: #FFEB3B;
}

.primary-bg {
  background-color: #FFEB3B;
}

.second-color {
  color: #1A56DB;
}

.second-bg {
  background-color: #1A56DB;
}
